[package]
authors = ["Tobias Happ <tobias.happ@gmx.de>"]
description = "Displays system information for dwm status bar."
keywords = ["dwm", "dwm-status"]
license = "MIT"
name = "dwm-status"
readme = "README.md"
repository = "https://github.com/Gerschtli/dwm-status"
version = "1.6.3"
edition = "2018"
[badges.travis-ci]
branch = "master"
repository = "Gerschtli/dwm-status"

[dependencies]
chrono = "0.4.10"
clap = "2.33.0"
config = "0.10.1"
dbus = "0.6.5"
inotify = "0.7.0"
libnotify = "1.0.3"
log = "0.4.8"
serde = "1.0.104"
serde_derive = "1.0.104"
simplelog = "0.7.4"

[dependencies.ctrlc]
features = ["termination"]
version = "3.1.4"

[dependencies.mocktopus]
optional = true
version = "0.7.5"

[dependencies.x11]
features = ["xlib"]
version = "2.18.2"

[dev-dependencies]
hamcrest2 = "0.3.0"

[features]
mocking = ["mocktopus"]
